*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
.container{
  background-color: rgb(255, 255, 255);
  block-size:  border-box;
}

/* ---------------------------------------------------------------------------------------------------------- */

header{
  display: flex;    
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}
.encabezado{
  background-color: whitesmoke;
  height: 50px;  
  box-sizing: border-box;
  align-items: center;      
}
.encabezado-izquierda{
  display: flex;
  align-items: center;
  width: 350px;
  height: 50px;  
  justify-content: space-around;
}
.encabezado-derecha{
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  width: 500px;  
  justify-content: space-evenly;
}
.logo{
  width: 100px;
}
.logo:hover{
  transform: scale(1.1);
}
.linea{
  /* border: 2px solid red; */
  text-decoration: none;
  color: #1B5194;    
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}
.linea:hover{
  color: rgb(172, 169, 169);
}

/* ---------------------------------------------------------------------------------------------------------- */

.presenta{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1B5194;
  width: 80%;
  height: auto;  
  margin: auto;
  margin-top: 70px;
  border-radius: 20px;
}
.eslogan{
  /* border: 2px solid red; */
  font-size: 350%;
  line-height: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
  color: white;    
  font-weight: bold;
  width: 70%;
  text-align: center;
  margin-top: 140px;
}
.mensaje{
  /* border: 2px solid red; */
  color: white;
  font-weight: bold;
  font-size: 150%;
  margin-top: 50px;
}
.enviar{
  background-color: rgb(255, 246, 246);
  border: 2px solid darkblue;
  width: 200px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  font-weight: bold ;
  color: darkblue; 
  border-radius: 8%;
  padding-top: 20px;
  margin-top: 50px;
  margin-bottom: 130px;
}
.enviar:hover{
  color: gray;  
  border: 2px solid black;
}

/*--------------------------------------------------------------------------------------------------------- */

.coleccion{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: #1B5194;
  margin-top: 70px;
}
.titulo1 {
  font-size: x-large;
  margin-bottom: 15px;
}
.titulo2 {
  font-size: larger;
  margin-bottom: 25px;
  color: #8c9fad;
}

/* ---------------------------------------------------------------------------------------------------------- */

.container4{
  /* border: 2px solid blue; */
  box-sizing: content-box;
  display: flex;
  justify-content: space-evenly;
  background-color: #F5F5F5;
  height: auto;
  flex-wrap: wrap;
}
.tarjeta{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;   
  width: 350px;
  border-radius: 2%;
  box-shadow: 0.2px 0.2px 1px #999999;
  background-color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tarjeta:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}
.fotoTarjeta{
  margin-top: 50px;
  width: 200px;
  height: 170px;  
}
.cajaFoto{
  align-self: center;
}
.textoTarjeta{
  font-family: ITC Avant Garde Gothic;
  color: #1B5194;
  font-weight: bold;
  text-align: center;
}
.textoTarjeta2{
  font-size: 20px;
  padding-top: 10px;
  padding-left: 20px;
}
.descripcion{
  font-family: sans-serif;
  color: #8c9fad;
  text-align: left;
  font-size: 16px;
  text-align: justify;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.colorPrecio{
  display: flex;
  flex-direction: row;
}

/* ---------------------------------------------------------------------------------------------------------- */

footer{  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
  margin-top: 10px;
}
.icono{
  width: 20px;
}
.icono:hover{
  width: 20px;
  transform: scale(2.0);
}
.redes{
  margin: auto;
  height: 10%;
  margin-top: 60px;
  margin-bottom: 55px;
  padding: 20px;
}
.redes a{    
  padding: 12px;
}
.division{
  width: 50%;
  margin: auto;
  border-color: rgba(128, 128, 128, 0.274);
}
.derechos{
  text-align: center;    
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  color: rgba(128, 128, 128, 0.691);  
}

/* ---------------------------------------------------------------------------------------------------------- */

.container5{
  /* border: 2px solid red; */
  box-sizing: content-box;
  display: flex;
  justify-content: space-evenly;
  background-color: #F5F5F5;
  height: auto;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 140px;
}

/* ---------------------------------------------------------------------------------------------------------- */

.container6{
  /* border: 1px solid #1B5194; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-top: 40px;
}
.fotoPedido{
  /* border: 2px solid #1B5194; */
  width: 500px;
  height: 470px;
  object-fit: cover;
  margin-top: 30px;
  margin-left: 20px;
}
/* .fotoPedido:hover{
  transform: scale(1.2);
} */
.pedidoDerecha{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
}
.tipoPedido{
  color: #1B5194;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
.encabezadoPedido{
  color: #1B5194;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
.descripcionPedido{
  font-family: sans-serif;
  color: #8c9fad;
  font-weight: bold;
  font-size: 18px;
  text-align: justify;
  text-align: center;
}
.colorPrecio{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.botonesPaga{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 40px;
  width: 450px;
}
.botonPagar{
  background-color: rgb(59, 130, 246);
  width: 150px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: white; 
  border-radius: 8%;
  padding-top: 3px;
  padding-bottom: 7px;
}
.botonRegresar{
  background-color: gray;
  width: 150px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  color: white; 
  border-radius: 8%;
  padding-top: 10px;
}
.botonPagar:hover{
  background-color: rgba(59, 131, 246, 0.83);
  border: 2px solid black;
}
.botonRegresar:hover{
  background-color: rgba(128, 128, 128, 0.842);
  border: 2px solid black;
}

/* ---------------------------------------------------------------------------------------------------------- */

.pagina{
  margin-top: 150px;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 400px;
}