*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
.Perfil{
  /* border: 2px solid gray; */
  background-color: rgb(255, 255, 255);
  block-size:  border-box;
  margin: auto;
  margin-bottom: 50px;
  width: 40%;
  height: 400px;
}

/* ---------------------------------------------------------------------------------------------------------- */

h1{
  margin-top: 100px;
  text-align: center;
}

.titulo{
  color: #1B5194;
  font-weight: bold;
}

.informacion{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-top: 60px;
  width: 75%;
  color: #1B5194;
  font-size: large;
}

.usuario{
  display: flex;
  text-align: center;
}

.email{
  display: flex;
  text-align: center;
  margin-left: 18px;
}

.compras{
  margin-top: 10px;
  text-align: center;
}

.etiqueta{
  margin-top: 10px;
  text-align: center;
}

.nombre, .correo, .clave{
  border: 2px solid gray;
  width: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: larger;
  font-weight: bold;
}

.clave{
  margin-top: 0px;
}
.botonera{
  text-align: center;
  margin-top: 30PX;
}

.botonRegresaInicio{
  width: 120px;
  padding: 3px 20px;
  font-size: 17px;
}